/* RESET */
* { padding: 0; margin: 0; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* CLEARFIX */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

body {
    background-color: #333;
    color: #ccc;
    font-family: 'ProximaNova';
}

li {
   list-style-type: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 30px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;

}

.menulist li{
    display:inline-block;
    background-color: #444;

}

.search {
    background-color: #666;
}

.logo:before { content:"\266B"; }

.logo {
    background-color: red;
}

.listbutton:before { content:"\2261"; }

.listbutton {
    background-color: orange;
}

.previous {
    z-index: 1000;
    border-radius: 32px;
    background-color: rgba(180,180,180,0.25);
    border-style: none;
    color: #848484;
    font-size: 40px;
    line-height: 60px;
    opacity: 0.8;
    text-decoration: none;
    width: 64px;
    height: 64px;
    left: 18px;
    display: block;
    position: relative;
}

.arrowp:before {
  color: #666;
  text-decoration: none;
  font-size: 72px;
  font-weight: bold;
  content: "\0354";
  position:absolute;
  margin-top: -60px;
}

.arrown:before {
  color: #666;
  text-decoration: none;
  font-size: 72px;
  font-weight: bold;
  content: "\0350";
  position:absolute;
  margin-top: -5px;
}

img {
    width : 370px;
    height: 200px;
}

#footer {
 position: fixed;
 left: 0px;
 bottom: 0px;
 height: 80px;
 width: 100%;
}

.player {
   height: 100%;
   width: 100%;
   background-color: #282828;
}

.player ul{
   display: flex;
}

.info {
  display: flex;
  width: 45%;
  float: left;
}

.controller {
  width: 55%;
  position: relative;
}

.info img {
  height: 80px;
  width: 80px;
}

.title {
  margin-left: 20px;
  margin-top: 20px;
}

.title h4{
  color: white;
}

.title h2{
  color: #A0A0A0;
  margin-top: 10px;
  font-size: 14px;
}

#sdiv {
  width: 100%;
  height: 50%;
  position: absolute;
  margin-top: 60px;
}

#buttons {
  width: 100%;
  height: 50%;
  position: absolute;
  text-align: center;
}

#slider {
	width: 65%;
	height: 4px;
	background: #404040;
  border-radius: 2px;
  position: absolute;
  left: 40px;
  right: 40px;
}

p {
  color: #A0A0A0;
  line-height: 0;
  font-size: 9pt;
  font-family: Arial, Sans-Serif;
}

#timer-total {
   position: absolute;
   right: 0;
   margin-right: 5px;
}

#timer-actual {
   position: absolute;
   left: 0;
   margin-left: 5px;
}

#play .material-icons {
  color: white;
  font-size: 32px;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 93px;
  padding-left: 2px;
  padding-top: 5px;
  text-align: center;
}

#skip_previous .material-icons {
  color: white;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 15px;
  left: 50px;
  width: 30px;
  height: 25px;
  padding-left: 2px;
  padding-top: 5px;
  text-align: center;
}

#skip_next .material-icons {
  color: white;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 15px;
  left: 137px;
  width: 30px;
  height: 25px;
  padding-left: 2px;
  padding-top: 5px;
  text-align: center;
}

#pause .material-icons {
  color: white;
  font-size: 32px;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 93px;
  padding-left: 2px;
  padding-top: 5px;
  text-align: center;
}
